@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background-color: rgb(152, 171, 134);
    color: white;

    /* font-size: 16px;
    font-weight: normal;
    font-family:"Roboto", sans-serif; */

    font: normal 16px "Roboto", sans-serif;
}


.avatar
{
    width: 250px;
    border-radius: 28px;
    box-shadow: 6px 0px 20px 12px rgba(0, 0, 0, 0.25);
}

#mem
{
    width: 200px;
    border-radius: 28px;
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.25);
}

.info p
{
    color: rgba(233, 231, 231, 0.747);
    margin: 0;
    font-style: italic;
    text-decoration: none;
}

.social
{
    margin: 20px;
    padding: 0px 0px 18px 30px;
    border: 5px solid rgba(0, 0, 0, 0.142);
    background: rgba(74, 97, 69, 0.171);
    border-radius: 20px;
    max-width: 33%;
}
/* Box model */
.container
{
    margin: auto; /* благодаря этому свойству весь сайт теперь по середине*/
    max-width: 75%; /*если писать с max, то ширина будет адаптироваться под сам сайт и его расширение */
}